body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    background: darkgray;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
}

#btn1, #btn2, #btn3 {
    font-size: 2rem;
    border-radius: 15px;
    margin: 8px;
    background: #349eeb;
}
.display, #resultDisplay {
    margin: 15px;
}
.playerWin,.computerWin {
    margin-top: 15px;
}
#playerWin {
    color: #00FF16;
}
#computerWin {
    color: #FF0000;
}
.footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #333;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer p {
    font-size: 0.9rem;
    font-weight: small;
}